.home h1,
.about .box-stats h3,
.title-section h1 span,
#menu li.active a,
body.light #menu li.active a,
.blog .post-container:hover .post-content .entry-header h3 a,
.blog .post-content .entry-header h3 a:hover,
.contact .custom-span-contact i,
.portfolio .slideshow figcaption h3,
.portfolio .slideshow a,
.portfolio .grid figure:hover figcaption,
.blog-post .meta i {
  color: #4169e1;
}
.about .resume-box .icon,
.home ul.social li a:hover,
.about ul.social li a:hover,
.portfolio ul.social li a:hover,
.contact ul.social li a:hover,
body.light.contact ul.social li a:hover,
.preloader .loader,
.blog .page-link:hover,
.blog .page-item.active .page-link,
body.light.blog .page-link:hover,
body.light.blog .page-item.active .page-link,
.portfolio .grid li figure div,
.header ul.icon-menu li.icon-box.active,
.header ul.icon-menu li.icon-box:hover,
body.light .header ul.icon-menu li.icon-box.active,
body.light .header ul.icon-menu li.icon-box:hover,
.btn,
.header .icon-box h2,
.home .color-block,
.title-section hr,
.portfolio .slideshow .carousel-indicators li.active {
  background-color: #4169e1;
}
.contact .contactform input[type='text']:focus,
.contact .contactform input[type='email']:focus,
.contact .contactform textarea:focus,
body.light.contact .contactform input[type='text']:focus,
body.light.contact .contactform input[type='email']:focus,
body.light.contact .contactform textarea:focus,
.blog .page-item.active .page-link,
.blog .page-link:hover,
body.light.blog .page-item.active .page-link,
body.light.blog .page-link:hover {
  border: 1px solid #4169e1;
}
